@import "tailwindcss";
@tailwind utilities;

@layer base {
  html {
    @apply text-slate-800;
  }
  h1 {
    @apply text-[clamp(2rem,5vw,5rem)];
  }
}

/* @layer utilities {
  .h1 {
    @apply text-7xl;
  }

  .text-fluid-h1 {
    font-size: clamp(2rem, 5vw, 5rem);
  }
} */
